@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCFBE8;
    margin: 0;
}

.td-class {
    @apply p-3 text-sm text-secondary border bg-white
}

.tr-class {
    @apply flex flex-col mb-4 sm:table-row
}

.add-button {
    @apply bg-secondary text-white py-3 px-6 border-0 rounded-lg cursor-pointer text-base transition ease-out whitespace-nowrap
}

.btn-action {
    @apply bg-transparent border-0 rounded-full w-9 h-9 flex justify-center items-center cursor-pointer transition ease-out
}

.filter-pill {
    @apply inline-flex items-center bg-[#FFFDC3] rounded-[25px] py-1 px-3 mr-0
}

.pill-button {
    @apply bg-transparent border-0 text-base text-secondary mr-3
}

.pill-dropdown {
    @apply bg-white border-0 text-base p-1 rounded-[25px] shadow-lg text-secondary
}

.error {
    @apply text-red-600 mt-4
}

.alert-info {
    @apply p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400;
}

.alert-danger {
    @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
}

.alert-success {
    @apply p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400;
}

.alert-warning {
    @apply p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300;
}