@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.container-fluid {
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.col-md-14:first-child {
    text-align: center;
    background-color: transparent;
    h2 {
        color: #101041;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .form-control {
        border-radius: 0px;
        border-bottom: 1px solid #101041;
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        padding: 10px;
        font-size: 14px;
        color: #333;
        width: 100%;
    }
    .form-group label {
        color: #101041;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        text-align: left;
    }
    .btn-primary {
        background-color: #101041;
        border-color: #101041;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 20px;
        width: auto;
        color: white;
    }
    .resend-otp {
        color: #101041 !important;
        text-decoration: underline;
        font-weight: light;
    }
}

.circular-card {
    position: fixed;
    top: -200px;
    right: -200px;
    width: 460px;
    height: 400px;
    background: linear-gradient(90deg, #fffa80 0%, #fff500 100%);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
